html {
    height: 100%;
    border-style: solid;
    border-width: thin;
    border-color: black;
}

body {
    height: 100%;
    /* background-image: url('flyingmoney.jpeg'); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    border-style: solid;
    border-width: thin;
    border-color: red;
}

.content {
    /* margin-left: 330px; */
    /* height: 100%; */
    border-style: solid;
    border-width: thick;
    border-color: black;
}

h2 {
    /* width: 55%; */
}

/* .display-6 {
    background-color: rgba(255, 255, 255, 0.7);
} */

.logo {
    /* position: absolute;
    top: 15px;
    right: 1550px; */
    width: 240px;
    height: 142px;
}

#logoTitle {
    position: absolute;
    /* top: 155px; */
    left: 53px;
}

/* #header {
    border-style: dashed;
    border-width: thin;
    border-color: blueviolet;
} */

/* #topRow {
    border-style: solid;
    border-width: thin;
    border-color: blue;
} */

.budgetAndTransactions {
    /* height: 100%; */
    border-style: solid;
    border-width: 1px;
    border-color: goldenrod;
    height: 77vh;
}

#newCategories {
    /* width: 55%; */
    height: 77vh;
    overflow-y: scroll;
    border-style: solid;
    border-width: thin;
    border-color: blue;
}

table {
    width: 100%;
    /* border: solid black; */
    /* border-radius: 6px; */
    /* overflow:hidden; */
}

.label {
    width: 50%;
}

#transactionsDiv {
    margin-left: 5%;
    height: 77vh;
    overflow: auto;
    border-style: solid;
    border-width: thin;
    border-color: green;
}

#bankButton {
    /* position:absolute;
    top: 14px;
    right: 215px; */
}

#transactionsButton {
    /* position: absolute;
    top: 14px;
    right: 35px; */
    width: 150px;
}

#getTransactionsButton {
    position: absolute;
    top: 70px;
    right: 120px;
    width: 150px;
}
  




