.content {
    margin-left: 330px;
    height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

/* #header {
    border-style: dashed;
    border-width: thin;
    border-color: darkcyan;
} */

table {
    width: 100%;
}

.label {
    width: 50%;
}

.plannedHeader {
    width: 20%;
}

.actualHeader {
    width: 20%;
}

.budgetAndTransactions {
    height: 100%;
}

#newCategories {
    width: 55%;
    height: 87%;
    overflow: auto;
}

#transactionsDiv {
    margin-left: 5%;
    width: 40%;
    height: 87%;
    overflow: auto;
}

/* .planned {
    width: 20%;
    text-align: center;
    padding-right: 46px;
}

.actual {
    width: 20%;
    text-align: center;
    padding-right: 46px; 
} */

#bankButton {
    position:absolute;
    top: 42px;
    right: 195px;
}

#transactionsButton {
    position: absolute;
    top: 42px;
    right: 35px;
    width: 130px;
}
  




